@"
# Jupyter
**/.ipynb_checkpoints/

# Dataset (keep folder only)
data/*
!data/.gitkeep

# Don't upload transformer checkpoints (huge)
model_weights/distilbert_from_pretrained/
"@ | Add-Content .gitignore

@"
# virtual env
rnn_env/

# archives
*.zip
archive*/
"@ | Add-Content .gitignore